/* src/components/Content.css */
/* .content {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
} */

.content-container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 60vh; /* Высота контейнера, чтобы центрировать по вертикали */
    color:#000000 
}

.description {
    font-size: 1.5rem; /* Размер шрифта для описания */
    text-align: center; /* Центрируем текст */
    color: #000000; /* Цвет текста */
}