/* src/components/Header.css */
.header {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom:12px;
    width: 100%;
    color: #00FF00; /* Кислотно-зеленый цвет */
    background-color: #055664;
    top:0
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background-color: #39ff14; /* Кислотно-зеленый цвет */
    position: absolute;
    width: 100%;
    padding: 10px 0; /* Добавлено для вертикального отступа */
    bottom: 0; /* Прикрепление к низу */
}