/* src/components/Menu.css */
.menu {
    position: relative;
}

.menu-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #218838;
}

.menu-dropdown {

    position: absolute;
    top: 40px; /* Adjust based on button size */
    left: 0;
    border: 1px solid #ccc;
    background-color: rgb(255, 62, 4);
    box-shadow: 20px 20px 1px rgba(45, 1, 75, 0.1);
    padding: 10px;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 0;
}

.menu-dropdown li {
    cursor: pointer;
}

.menu-dropdown li:hover {
    background-color: #f1f1f1;
}

.theme-toggle-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.theme-toggle-button:hover {
    background-color: #218838;
}